<app-filter-list [context]="context" (pageChange)="pageChange($event)">
    <div header fxFlex fxLayoutAlign="space-between center">
        <div class="title">Store Orders</div>
    </div>
    <div filter>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-flat-button color="accent" (click)="clear()">
                <mat-icon>clear_all</mat-icon>
                Clear
            </button>
            <button mat-flat-button color="accent" (click)="apply()">
                <mat-icon>search</mat-icon>
                Apply
            </button>
        </div>
        <br>
        <div *ngIf="context">
            <app-single-select name="Order By" [values]="orderByValues" [(value)]="context.orderBy">
            </app-single-select>
            <app-single-select name="Status" [values]="statusValues" [(value)]="context.status">
            </app-single-select>
            <app-add-items name="Store Name" [(value)]="context.storeName"></app-add-items>
        </div>
    </div>
    <div result>
        <div *ngIf="items">
            <mat-card *ngIf="context.totalPages === 0" fxLayout="column" fxLayoutAlign="center center"
                style="height: 50vh;">
                <img src='./assets/images/NotFound.png' style="width:30vw;max-width: 200px;">
                <mat-card-title class="mt-4">No orders available!</mat-card-title>
            </mat-card>
            <mat-accordion>
                <mat-expansion-panel [expanded]="step === i" (opened)="step = i"
                    *ngFor="let item of items; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            #{{item.id}} {{item.status | spaceBetween}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{item.update | date:'dd/MM/yyyy, h:mm a'}}
                        </mat-panel-description>
                        <mat-panel-description fxHide.lt-sm="true">
                            {{item.storeName}} ({{item.sourceLocationName}})
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="row wrap" fxLayoutGap="15px">
                        <div class="mt-3" fxFlex fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex fxLayout="column">
                                <h4 fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Store:</div>
                                    <div>{{item.storeName}} ({{item.storeId}})</div>
                                </h4>
                                <h4 fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Store Location:</div>
                                    <div>{{item.sourceLocationName}} ({{item.sourceLocationId}})</div>
                                </h4>
                                <h4 fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Delivery Charge:</div>
                                    <div>{{item.deliveryCharge | currency:'INR'}}</div>
                                </h4>
                                <h3 fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Total Amount:</div>
                                    <div>{{item.totalAmount | currency:'INR'}}</div>
                                </h3>
                                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Date:</div>
                                    <div>{{item.created | date:'dd/MM/yyyy, h:mm a'}}</div>
                                </mat-card-subtitle>
                                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>Status:</div>
                                    <div>{{item.status | spaceBetween}}</div>
                                </mat-card-subtitle>
                                <div fxLayout="row" fxLayoutAlign="space-around center">
                                    <button mat-raised-button [routerLink]="'/store/order/' + item.id" color="warn">
                                        View
                                    </button>
                                    <button mat-raised-button *ngIf="item.status === 'Confirmed'" color="accent"
                                        (click)="dispatchOrder(i)">Dispatch
                                        Order</button>
                                </div>
                            </div>
                        </div>
                        <mat-accordion fxFlex="60" fxFlex.lt-sm="100">
                            <h3>Item(s) Ordered:</h3>
                            <mat-expansion-panel [expanded]="j === 0"
                                *ngFor="let item of item.orderItems; let j = index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        #{{j + 1}} - {{item.name | reduce:35}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="py-3" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                                    <div fxFlex="none" class="cart-image-box" fxLayout="row"
                                        fxLayoutAlign="center center">
                                        <img class="cart-image" src={{item.photoUrl}}>
                                    </div>
                                    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                                        <p><a [href]="utility.getProductUrl(item.productId)" target="_blank"
                                                style="color: inherit;">{{item.name}}</a></p>
                                        <mat-card-subtitle fxLayout="column">
                                            <div fxLayout="row">
                                                <div fxFlex=30>Price</div>
                                                <div fxFlex>{{item.price | currency:'INR'}}</div>
                                            </div>
                                            <div fxLayout="row">
                                                <div fxFlex=30>Unit(s)</div>
                                                <div fxFlex>{{item.count}}</div>
                                            </div>
                                        </mat-card-subtitle>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</app-filter-list>