/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  background-color: crimson;
  color: whitesmoke;
}

.success {
  background-color: green;
  color: whitesmoke;
}

.warn {
  background-color: darkgoldenrod;
  color: whitesmoke;
}
