.g-middle {
  float: left;
  overflow: hidden;
  touch-action: pan-y !important;
  white-space: nowrap;
}
.g-container-box {
  height: 95%;
  width: 25%;
  display: inline-block;
}
.g-image-box {
  cursor: pointer;
  object-fit: contain;
  height: 90%;
  width: 90%;
}
.g-active {
  border: 4px solid darkgray;
}
