<div *ngIf="order" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="my-5" style="border-radius: 10px;" fxFlex="60" fxFlex.lt-lg="70" fxFlex.lt-md="80"
        fxFlex.lt-sm="95">
        <div *ngFor="let item of order.orderItems">
            <div class="py-3" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div fxFlex="none" class="cart-image-box" fxLayout="row" fxLayoutAlign="center center">
                    <img class="cart-image" src={{item.photoUrl}}>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                    <p><a [href]="utility.getProductUrl(item.productId)" target="_blank"
                            style="color: inherit;">{{item.name}}</a></p>
                    <mat-card-subtitle fxLayout="column">
                        <div fxLayout="row">
                            <div fxFlex=30>Price</div>
                            <div fxFlex>{{item.price | currency:'INR'}}</div>
                        </div>
                        <div fxLayout="row">
                            <div fxFlex=30>Unit(s)</div>
                            <div fxFlex>{{item.count}}</div>
                        </div>
                    </mat-card-subtitle>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="my-3" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50" fxFlex.lt-md="70" fxFlex.lt-sm="90" fxLayout="column">
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Order Id:</div>
                    <div>{{order.id}}</div>
                </mat-card-subtitle>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Transaction Id:</div>
                    <div>{{order.transactionId}}</div>
                </mat-card-subtitle>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Status:</div>
                    <div>{{order.status | spaceBetween}}</div>
                </mat-card-subtitle>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Date Created:</div>
                    <div>{{order.created | date:'dd/MM/yyyy, h:mm a'}}</div>
                </mat-card-subtitle>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Delivery:</div>
                    <div *ngIf="order.delivery">{{ order.delivery | date:'dd/MM/yyyy, h:mm a'}}</div>
                    <div *ngIf="!order.delivery">NA</div>
                </mat-card-subtitle>
                <mat-card-subtitle fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
                    <div>Address:</div>
                    <div>{{order.name}}({{order.mobile}}), {{order.house}}, {{order.landmark}}, {{order.locationName}} -
                        {{order.postalCode}}</div>
                </mat-card-subtitle>
                <h3 fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Price ({{order.orderItems.length === 1 ? '1 item':order.orderItems.length
                        + ' items'}}):</div>
                    <div>{{getTotal() | currency:'INR'}}</div>
                </h3>
                <h3 fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Delivery Charge:</div>
                    <div>{{order.deliveryCharge | currency:'INR'}}</div>
                </h3>
                <h2 fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Total Amount:</div>
                    <div>{{order.totalAmount | currency:'INR'}}</div>
                </h2>
                <div fxLayoutAlign="center">
                    <button mat-raised-button color="accent" *ngIf="order.status === 'OutForDelivery'"
                        (click)="acceptOrder()">Accept Order</button>
                </div>
            </div>
        </div>
        <div *ngIf="order.currentEvent">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Tracking Events:
                        </mat-panel-title>
                        <mat-panel-description>
                            {{order.currentEvent.status | spaceBetween}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                        <h2 fxLayout="row">
                            <div fxFlex="9">#</div>
                            <div fxFlex="33">Location</div>
                            <div fxFlex="33">Status</div>
                            <div fxFlex="33">Date</div>
                        </h2>
                        <div fxLayout="column" fxLayoutGap="20px">
                            <div fxLayout="row" *ngFor="let event of order.trackEvents; let j = index">
                                <div fxFlex="9">{{j+1}}.</div>
                                <div fxFlex="33">{{event.locationName}} ({{event.locationType}})</div>
                                <div fxFlex="33">{{event.status | spaceBetween}}</div>
                                <div fxFlex="33">{{event.date | date:'dd/MM/yyyy, h:mm a'}}</div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card>
</div>