<mat-drawer-container [hasBackdrop]="lt_md" [ngClass]="lt_md ? 'full-screen-md' : 'full-screen'">
    <mat-drawer #drawer [opened]="!lt_md" [mode]="lt_md ?'over':'side'" style="width:300px;">
        <div class="m-1">
            <mat-card fxLayout="row" fxLayoutAlign="space-between center">
                <h2 class="title">Filters</h2>
                <button *ngIf="lt_md" mat-button color="accent" (click)="drawer.toggle()">
                    <mat-icon>close</mat-icon> Close
                </button>
            </mat-card>
            <mat-card>
                <app-product-filter [context]="context"></app-product-filter>
            </mat-card>
        </div>
    </mat-drawer>

    <div fxFlex>
        <mat-card fxLayout="row" fxLayoutAlign="space-between center" class="m-1" fxLayoutGap="2%">
            <button *ngIf="lt_md" mat-raised-button color="primary" (click)="drawer.toggle()">
                <mat-icon>filter_alt</mat-icon> Filter
            </button>
            <h3 class="title">Showing results for "{{search}}"</h3>
        </mat-card>

        <mat-card *ngIf="modals && modals?.length <= 0" fxLayout="column" fxLayoutAlign="center center" style="height: 50vh;">
            <img src='./assets/images/NotFound.png' style="width:30vw;max-width: 200px;">
            <mat-card-title class="mt-4">Sorry, no results found!</mat-card-title>
            <mat-card-subtitle>Please check the spelling or try searching for something else</mat-card-subtitle>
        </mat-card>

        <mat-card ngClass="cursor" fxLayout="column" class="m-1" [routerLink]="'/product/' + item.id"
            *ngFor="let item of modals">
            <div fxLayout="row" fxFlex fxLayoutGap="5%" fxLayoutAlign=" center">
                <div class="image-box" fxLayout="row" fxLayoutAlign="center center">
                    <img class="image" src={{item.photoUrl}}>
                </div>
                <div fxLayout="column" fxFlex>
                    <div>
                        <h2 class="title">{{item.name}}<br>{{item.amount | currency:'INR'}}</h2>
                    </div>
                    <mat-card-content fxHide fxShow.gt-xs="true">
                        <mat-card-subtitle class="content">
                            <li *ngFor="let line of item?.features.split('\n')">
                                {{line}}
                            </li>
                        </mat-card-subtitle>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-content class="mt-2" fxHide fxShow.lt-sm="true">
                <mat-card-subtitle class="content">
                    <li *ngFor="let line of item?.features.split('\n')">
                        {{line}}
                    </li>
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="this.context">
            <app-pagination [page]="this.context.pageNumber" (pageChange)="navigateToPage($event)">
            </app-pagination>
        </mat-card>
    </div>
</mat-drawer-container>