<app-filter-list [context]="context" (pageChange)="navigateToPage($event)">
    <div header fxFlex fxLayoutAlign="space-between center">
        <div class="title">{{'Showing results for &quot;' + search +'&quot;'}}</div>
    </div>
    <div filter>
        <app-product-filter [context]="context"></app-product-filter>
    </div>
    <div result>
        <mat-card *ngIf="items && items?.length <= 0" fxLayout="column" fxLayoutAlign="center center"
            style="height: 50vh;">
            <img src='./assets/images/NotFound.png' style="width:30vw;max-width: 200px;">
            <mat-card-title class="mt-4">Sorry, no results found!</mat-card-title>
            <mat-card-subtitle>Please check the spelling or try searching for something else</mat-card-subtitle>
        </mat-card>

        <mat-card ngClass="cursor" fxLayout="column" class="m-1" [routerLink]="'/product/' + item.id"
            *ngFor="let item of items">
            <div fxLayout="row" fxFlex fxLayoutGap="5%" fxLayoutAlign=" center">
                <div class="image-box" fxLayout="row" fxLayoutAlign="center center">
                    <img class="image" src={{item.photoUrl}}>
                </div>
                <div fxLayout="column" fxFlex>
                    <div>
                        <h2 class="title">{{item.name}}<br>{{item.amount | currency:'INR'}}</h2>
                    </div>
                    <mat-card-content fxHide fxShow.gt-xs="true">
                        <mat-card-subtitle class="content">
                            <li *ngFor="let line of item?.features.split('\n')">
                                {{line}}
                            </li>
                        </mat-card-subtitle>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-content class="mt-2" fxHide fxShow.lt-sm="true">
                <mat-card-subtitle class="content">
                    <li *ngFor="let line of item?.features.split('\n')">
                        {{line}}
                    </li>
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
</app-filter-list>