<mat-sidenav-container class="sidenav-container" style="min-height: 100vh;">
  <mat-sidenav #sidenav [fixedInViewport]="true" class="sidenav">
    <mat-nav-list fxLayout="column">
      <button class="me-2" fxFlexAlign="end" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <br>
      <div>
        <a *ngIf="!user" routerLink="/login" mat-list-item>
          <mat-icon>login</mat-icon>&nbsp; Login
        </a>
        <a routerLink="/" mat-list-item>
          <mat-icon>home</mat-icon>&nbsp; Home
        </a>
        <a routerLink="/edit-profile" mat-list-item>
          <mat-icon>face</mat-icon>&nbsp; Profile
        </a>
        <a routerLink="/wallet" mat-list-item>
          <mat-icon>account_balance_wallet</mat-icon>&nbsp; My Wallet
        </a>
        <a routerLink="/order" mat-list-item>
          <mat-icon>reorder</mat-icon>&nbsp; My Orders
        </a>
        <a routerLink="/cart" mat-list-item>
          <mat-icon>shopping_cart</mat-icon>&nbsp; Cart
        </a>
        <a *appInRole="['TrackAgent','TrackAdmin']" routerLink="/track" mat-list-item>
          <mat-icon>local_shipping</mat-icon>&nbsp; Track
        </a>
        <a *appInRole="['StoreAgent','StoreAdmin']" routerLink="/store/order" mat-list-item>
          <mat-icon>store</mat-icon>&nbsp; Store
        </a>
        <a *appInRole="['TrackAdmin','StoreAdmin','StoreModerator','TrackModerator','Admin']" mat-list-item
          (click)="menuTrigger.openMenu()">
          <mat-icon>security</mat-icon>&nbsp; Administration &nbsp;
          <mat-icon>arrow_drop_down</mat-icon>
          <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="administration" xPosition="before">
          </div>
        </a>
        <mat-menu #administration="matMenu">
          <button *appInRole="['Admin']" mat-menu-item routerLink="/admin/moderate/admin-role">
            <mat-icon>admin_panel_settings</mat-icon>Admin
          </button>
          <button *appInRole="['StoreModerator','Admin']" mat-menu-item routerLink="/admin/moderate/store-role">
            <mat-icon>engineering</mat-icon>Moderate Store
          </button>
          <button *appInRole="['TrackModerator','Admin']" mat-menu-item routerLink="/admin/moderate/track-role">
            <mat-icon>engineering</mat-icon>Moderate Track
          </button>
          <button *appInRole="['StoreAdmin']" mat-menu-item routerLink="/admin/store-role">
            <mat-icon>manage_accounts</mat-icon>Store
          </button>
          <button *appInRole="['TrackAdmin']" mat-menu-item routerLink="/admin/track-role">
            <mat-icon>manage_accounts</mat-icon>Track
          </button>
        </mat-menu>
        <a routerLink="/about" mat-list-item>
          <mat-icon>info</mat-icon>&nbsp; About
        </a>
        <a *ngIf="user" (click)="logout()" mat-list-item>
          <mat-icon>logout</mat-icon>&nbsp; Logout
        </a>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <div>
        <a routerLink="/search" [queryParams]="{q:'Mobiles'}" mat-list-item>
          <mat-icon>phone_android</mat-icon>&nbsp; Mobiles
        </a>
        <a routerLink="/search" [queryParams]="{q:'Laptops'}" mat-list-item>
          <mat-icon>laptop</mat-icon>&nbsp; Laptops
        </a>
        <a routerLink="/search" [queryParams]="{q:'Television'}" mat-list-item>
          <mat-icon>tv</mat-icon>&nbsp; Television
        </a>
        <a routerLink="/search" [queryParams]="{q:'Refrigerators'}" mat-list-item>
          <mat-icon>kitchen</mat-icon>&nbsp; Refrigerators
        </a>
        <a routerLink="/search" [queryParams]="{q:'Washing Machine'}" mat-list-item>
          <mat-icon>local_laundry_service</mat-icon>&nbsp; Washing Machine
        </a>
        <a routerLink="/search" [queryParams]="{q:'Memory Cards'}" mat-list-item>
          <mat-icon>sd_card</mat-icon>&nbsp; Memory Cards
        </a>
        <a routerLink="/search" [queryParams]="{q:'Headphones'}" mat-list-item>
          <mat-icon>headset_mic</mat-icon>&nbsp; Headphones
        </a>
        <a routerLink="/search" [queryParams]="{q:'Power Banks'}" mat-list-item>
          <mat-icon>battery_charging_full</mat-icon>&nbsp; Power Banks
        </a>
        <a routerLink="/search" [queryParams]="{q:'Camera'}" mat-list-item>
          <mat-icon>photo_camera</mat-icon>&nbsp; Camera
        </a>
        <a routerLink="/search" [queryParams]="{q:'Speakers'}" mat-list-item>
          <mat-icon>speaker</mat-icon>&nbsp; Speakers
        </a>
        <a routerLink="/search" [queryParams]="{q:'Air Conditioners'}" mat-list-item>
          <mat-icon>ac_unit</mat-icon>&nbsp; Air Conditioners
        </a>
      </div>
      <br>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxLayout="row" fxLayoutGap="2%" fxFlexFill fxLayoutAlign="space-between center">
          <div>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="brand" routerLink="/">ShoppingCart</span>
          </div>
          <form #searchForm="ngForm" fxShow="true" fxHide.lt-sm (ngSubmit)="search()">
            <mat-form-field style="width: 40vw" floatLabel="never">
              <input matInput #searchInput="matInput" type="text" placeholder="Search" name="search" autocomplete="off"
                [(ngModel)]="value" />
              <button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div fxLayout="row" class="pe-4">
            <button fxHide.lt-md="true" mat-icon-button routerLink="/about">
              <mat-icon>info</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleTheme()">
              <mat-icon>{{isDark ? "light_mode":"dark_mode"}}</mat-icon>
            </button>
            <button fxHide.sm="true" mat-icon-button routerLink="/cart">
              <mat-icon [matBadge]="cartCount" matBadgeSize="small" matBadgeColor="accent"
                [matBadgeHidden]="cartCount <= 0">
                shopping_cart</mat-icon>
            </button>
            <button class="ms-2" *ngIf="!user" mat-raised-button color="accent" routerLink="/login">
              Login
            </button>
            <button *ngIf="user" mat-icon-button [matMenuTriggerFor]="navMenu">
              <img class="profile" src="{{user.photoUrl || './assets/images/profile.png'}}" alt="Profile">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #navMenu="matMenu">
              <button mat-menu-item routerLink="/edit-profile">Edit Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row fxShow="false" fxShow.lt-sm>
        <div fxLayout="row" style="width: 100vw;" fxLayoutAlign="center center">
          <div>
            <form #searchForm2="ngForm" (ngSubmit)="search()">
              <mat-form-field style="width:75vw" floatLabel="never">
                <input matInput #searchInput="matInput" type="text" placeholder="Search" name="search"
                  autocomplete="off" [(ngModel)]="value" />
                <button matSuffix mat-icon-button type="submit">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-scroll-to-top></app-scroll-to-top>