.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 220px;
  width: 20vw;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.brand {
  cursor: pointer;
}
