<mat-sidenav-container class="sidenav-container" style="min-height: 100vh;">
  <mat-sidenav #sidenav [fixedInViewport]="true">
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="#" mat-list-item>Close</a>
      <a href="#" mat-list-item>Menu Item 1</a>
      <a href="#" mat-list-item>Menu Item 2</a>
      <a href="#" mat-list-item>Menu Item 3</a>
      <a href="#" mat-list-item>Menu Item 4</a>
      <a href="#" mat-list-item>Menu Item 5</a>
      <a href="#" mat-list-item>Menu Item 6</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxLayout="row" fxLayoutGap="2%" fxFlexFill fxLayoutAlign="space-between center">
          <div>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
              <mat-icon>menu</mat-icon>
            </button>
            <span class="brand" routerLink="/">ShoppingCart</span>
          </div>
          <form #searchForm="ngForm" fxShow="true" fxHide.lt-sm (ngSubmit)="search()">
            <mat-form-field style="width: 40vw" floatLabel="never">
              <input matInput #searchInput="matInput" type="text" placeholder="Search" name="search" autocomplete="off"
                [(ngModel)]="value" />
              <button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div fxLayout="row" class="pe-4">
            <div fxShow="true" fxHide.lt-md>
              <a href="#" mat-button>Menu Item 1</a>
              <a href="#" mat-button>Menu Item 2</a>
            </div>
            <button mat-icon-button (click)="toggleTheme()">
              <mat-icon>{{isDark ? "light_mode":"dark_mode"}}</mat-icon>
            </button>
            <button mat-icon-button routerLink="/cart">
              <mat-icon [matBadge]="cartCount" matBadgeSize="small" matBadgeColor="accent" [matBadgeHidden]="cartCount <= 0">
                shopping_cart</mat-icon>
            </button>
            <button class="ms-2" *ngIf="!(accountService.user$ | async)" mat-raised-button color="accent"
              routerLink="/login">
              Login
            </button>
            <button *ngIf="(accountService.user$ | async) as user" mat-icon-button [matMenuTriggerFor]="navMenu">
              <img class="profile" src="{{user.photoUrl || './assets/images/profile.png'}}" alt="Profile">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #navMenu="matMenu">
              <button mat-menu-item routerLink="/edit-profile">Edit Profile</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row fxShow="false" fxShow.lt-sm>
        <div fxLayout="row" style="width: 100vw;" fxLayoutAlign="center center">
          <div>
            <form #searchForm2="ngForm" (ngSubmit)="search()">
              <mat-form-field style="width:75vw" floatLabel="never">
                <input matInput #searchInput="matInput" type="text" placeholder="Search" name="search"
                  autocomplete="off" [(ngModel)]="value" />
                <button matSuffix mat-icon-button type="submit">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </form>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
<button *ngIf="toScroll" class="scroll-to-top" mat-fab color="accent" (click)="goToTop()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>