<div *ngIf="checkoutResponse" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="my-5" style="border-radius: 10px;" fxFlex="60" fxFlex.lt-md="80" fxFlex.lt-sm="95">
        <mat-card-content class="mt-2">
            <div *ngIf="checkoutResponse.addressName" fxLayout="row" fxLayoutGap="5px">
                <mat-card-subtitle>Deliver to </mat-card-subtitle>
                <div>{{checkoutResponse.addressName}}</div>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor="let item of checkoutResponse.items">
                <div class="py-3" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <div fxFlex="none" class="cart-image-box" fxLayout="row" fxLayoutAlign="center center">
                        <img class="cart-image" src={{item.photoUrl}}>
                    </div>
                    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
                        <p><a [href]="utility.getProductUrl(item.productId)" target="_blank"
                                style="color: inherit;">{{item.name}}</a></p>
                        <mat-card-subtitle fxLayout="column">
                            <div fxLayout="row">
                                <div fxFlex=30>Price</div>
                                <div fxFlex>{{item.amountPerUnit | currency:'INR'}} <span *ngIf="item.available <= 0"
                                        class="error">&nbsp;&nbsp; Out Of Stock</span>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <div fxFlex=30>Unit(s)</div>
                                <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                                    <button mat-icon-button [disabled]="item.itemQuantity === 1" color="accent"
                                        (click)="changeQuantity(item,-1)" fxFlexAlign="end">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <div>{{item.itemQuantity}}</div>
                                    <button mat-icon-button [disabled]="item.itemQuantity === item.maxPerOrder"
                                        (click)="changeQuantity(item,1)" fxFlexAlign="end" color="accent">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div fxLayout="row">
                                <div fxFlex=30>Total</div>
                                <div fxFlex>{{item.amountPerUnit * item.itemQuantity | currency:'INR'}}</div>
                            </div>
                        </mat-card-subtitle>
                        <p class="error">{{item.errorMessage}}</p>
                    </div>
                    <div fxFlex="none" fxLayout="column">
                        <button [disabled]="checkoutResponse.items.length <= 1" (click)="removeItem(item.storeItemId)"
                            fxFlexAlign="end" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="mt-3" fxFlex=60 fxFlex.lt-sm=80 fxFlex.gt-md=40 fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <h3>Price ({{checkoutResponse.items.length === 1 ? '1 item':checkoutResponse.items.length
                            + ' items'}}):</h3>
                        <h3>{{getTotal() | currency:'INR'}}</h3>
                    </div>
                    <div *ngIf="checkoutResponse.isValid" fxLayout="row" fxLayoutAlign="space-between center">
                        <h3>Delivery Charges:</h3>
                        <h3>{{checkoutResponse.deliveryCharge | currency:'INR'}}</h3>
                    </div>
                    <div *ngIf="checkoutResponse.isValid" fxLayout="row" fxLayoutAlign="space-between center">
                        <h2>Total Amount:</h2>
                        <h2>{{checkoutResponse.total | currency:'INR'}} </h2>
                    </div>
                    <div>
                        <p *ngIf="checkoutResponse.errorMessage" class="error">
                            {{checkoutResponse.errorMessage}}</p>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <button fxFlex mat-raised-button color="accent" (click)="verify()">Verify</button>
                        <button fxFlex [disabled]="!checkoutResponse.isValid" mat-raised-button color="warn"
                            (click)="order()">Order</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>